body{
    font-family: 'Manrope', sans-serif;
    font-size: 1em;
    color: #F9F8FF;
    background-color: #1F2039;
}
header,
footer{
    background-color: white;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5em;
    color: #A5B4FC;
}
p { font-size: 1.1em; }
em {
    font-style: normal;
    color: #A5B4FC;
}
a {
    text-decoration: none;
    color: #242424;
}
a.u-link:hover { text-decoration: underline; }
a.cta{
    color: white;
    background: linear-gradient(#8E86B5,#ACAEED);
    border-radius: 50px;
}
a.cta:hover{
    background: linear-gradient(#696484, #8788BA);
}
.a-propos{
    border-right: #8E86B5 1px solid;
    border-bottom: #8E86B5 1px solid;
}
header a img:hover,
footer a img:hover{
    opacity: 0.5;
}