.index-intro {
    max-width: 1000px;
    box-sizing: border-box;
    margin: auto;
}
.index-intro > div {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 5%;
}
.index-photos {
    background-color: white;
}
.index-photos h2 {
    color: #242424;
    text-align: center;
    margin-bottom: 1em;
}
.index-photos div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 10px;
    margin-bottom: 10px;
}
h2 {
    text-align: center;
    margin-bottom: 2em;
}
input, textarea {
    font-family: 'Manrope', sans-serif;
    font-size: 1em;
    color: #242424;
    padding: 15px;
    border-radius: 5px;
    border: none;
}
form {
    display: grid;
    grid-template : repeat(5, auto) / repeat(2, 1fr) ;
    gap: 10px;
    max-width: 700px;
    margin: auto;
}
#lbl-message, #message, #envoyer{
    grid-column: span 2;
}
#envoyer {
    justify-self: center;
    width: 200px;
}
@media screen and (max-width: 996px) {
    .index-intro > div {
        flex-direction: column-reverse;
        align-items: center;
        gap: 20px;
    }
    .index-intro > div img {width: 100%;}
    .index-intro > div div {text-align: center;}

    .index-photos div {flex-direction: column;}

    form { grid-template: none; }
    #lbl-email, #email {order:1}
    #lbl-message, #message, #envoyer{
        grid-column: unset;
        order: 2;
    }
}
