.portfolio-photos {
    background-color: white;
}
.portfolio-photos h2 {
    color: #242424;
    text-align: center;
    margin-bottom: 1em;
}
.portfolio-photos [class|="grid"] {
    display: grid;
    gap: 15px;
    margin-bottom: 2em;
}
.grid-paysages {
    grid-template : repeat(3, 300px) / repeat(3, 1fr) ;
}
.grid-portraits {
    grid-template : repeat(2, 300px) / repeat(3, 1fr) ;
}
.portfolio-photos [class|="grid"] img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.portfolio-photos [class|="grid"] a {
    position: relative;
}
.portfolio-photos [class|="grid"] a::before {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    content: "Voir la photo";
    transition: opacity 0.125s ease-in;
    transition-delay: 0s;
    transition-property: all;
    opacity: 0;
}
.portfolio-photos [class|="grid"] a:hover::before {
    opacity: 1;
    transition: opacity 0.5s ease-in;
    transition-delay: 1s;
    transition-property: all;
}
/* Une methode + simple que ::before consisterait à ajouter un div
avec chaque img dans le lien, avec un display=none par default, et
dans une classe similaire a celle ci-dessus, qqch co
.portfolio-photos [class|="grid"] a:hover div {
le basculer à display=flex */
@media screen and (max-width: 996px) {
    .portfolio-photos [class|="grid"] {
        grid-template: none;
    }
}